global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend http_in
  bind *:80
  default_backend dochub_api

frontend https_in
  bind *:443
  default_backend dochub_api

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend stats_alt
  bind *:8405
  stats enable
  stats uri /
  stats refresh 10s

backend dochub_api
  balance roundrobin
  option httpchk GET /health
  # Cambia PRIVATE_SERVER_IP por la IP privada de tu VM privada en Google Cloud.
  server api1 PRIVATE_SERVER_IP:8001 check
  server api2 PRIVATE_SERVER_IP:8002 check
